body{
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
h1, h1, h3, h4, h5, h6, a, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
img {
    border-style: none;
}
textarea {
    overflow: auto;
    outline: none;
}
input{
    outline: none;
}